
// -----------------------------------------
// Row Template: Form Row
// -----------------------------------------


label {
	font-family: "Josefin Sans", "Raleway", "Lucida Grande", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-weight: 600;
	margin-bottom: 0;
	position: relative;
	transition: all 0.75s ease;
}


.form-group {
    margin-bottom: 25px;
    position: relative;


    &:last-child {
        margin-bottom: 0;
    }


    // Removes border
    &:last-child:after,
    &.js-recaptcha {
        display: none;
    }
}


input,
input[type="search"],
input[type="email"],
input[type="password"],
textarea,
.input--single-line {
    border: 0;
    border-radius: 4px;
    font-family: "questa-sans", helvetica neue, sans-serif;
    font-size: 18px;
    font-weight: $font__p--font-weight;
    line-height: 28px;
    outline: none;
    padding: 10px 15px 18px;
    position: relative;
    transition: background 0.25s ease;
    width: 100%;

    &:focus,
    &:active,
    &:hover {
        border: 0;
        box-shadow: none;
        outline: 0;
    }

    &::-webkit-input-placeholder {
        color: $color__body--background;
    }


    &::-moz-placeholder {
        color: $color__body--background;
    }


    &:-ms-input-placeholder {
        color: $color__body--background;
    }


    &::placeholder {
        color: transparent;
    }
}
