

.row--dark {
    background-color: $row-color-dark;


    h1,h2,h3,h4,label {
        color: $row-color-light;
    }


    p, ul, li, ol, .p-font {
        color: transparentize($row-color-light, 0.15);
    }


    .form-group {

        &:after {
            background: transparentize($row-color-light, 0.5);
            transition: background 0.35s ease;
        }

        &:hover,
        &:focus,
        &:active {
            &:after {
                background: transparentize($row-color-light, 0.3);
            }
        }
    }


    input, input[type="search"],
    input[type="email"],
    input[type="password"],
    textarea,
    .input--single-line {
        background-color: $row-color-light;
        color: lighten($row-color-dark, 0.15);

        &:hover,
        &:focus,
        &:active {
            background-color: $row-color-light;
        }
    }


    .button,
    .social-link {
        background-color: $row-color-accent;
        box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
        color: $row-color-dark;
    }


    .navigation-list {
        background-color: $row-color-dark;
    }


    .navigation-item .item-name,
    .navigation-list--children {
        color: transparentize($row-color-light, 0.2);

        &.selected,
        &:hover,
        &:focus {
            color: $row-color-light;
        }
    }

    .navigation-list--children {
        color: transparentize($row-color-light, 0.2);
    }

    .item-name--parent:after {
        color: transparentize($row-color-light, 0.35);
    }

    .navigation-toggle,
    .navigation-toggle:before,
    .navigation-toggle:after {
        background-color: transparentize($row-color-light, 0.3);
    }


    .phone-number-link {
        color: transparentize($row-color-light, 0.2);

        @media #{$mobile} {
            background-color: $row-color-accent;
            color: $row-color-light;
        }
    }
}


.row--background-type-image {

    &:after {
        background: radial-gradient(ellipse at center, transparentize($row-color-dark, 0.75) 0%, transparentize($row-color-dark, 0.6) 70%, transparentize($row-color-dark, 0.4) 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .row__container {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: bkscale($font__h1--font-size, 0.85);
        line-height: bkscale($font__h1--line-height, 0.85);
    }

    h1,
    h2,
    h3,
    h4,
    label {
        background: $row-color-dark;
        color: $row-color-light;
        display: table;
        margin-bottom: 12px;
        padding: 15px 20px 5px;
        word-break: break-word;
    }

    h1[style="text-align: right;"] {
        margin-left: auto;
    }

    h1[style="text-align: left;"] {
        margin-right: auto;
    }

    h1[style="text-align: center;"] {
        margin: 0 auto 12px;
    }


    p, ul, li, ol, .p-font {
        color: $row-color-light;
    }


    .button,
    button {
        background-color: $row-color-accent;
        color: $row-color-dark;
    }
}
