

.row--light {
    background-color: $row-color-light;


    h1,h2,h3,h4,label {
        color: $row-color-dark;
    }


    p, ul, li, ol, .p-font {
        color: transparentize($row-color-dark, 0.4);
    }


    input,
    input[type="search"],
    input[type="email"],
    input[type="password"],
    textarea,
    .input--single-line {
        background: darken($row-color-light, 10%);
        color: lighten($row-color-dark, 0.15);

        &:hover,
        &:focus,
        &:active {
             background: $row-color-light;
        }
    }


    .button,
    .social-link {
        background-color: $row-color-dark;
        color: $row-color-light;
    }


    .navigation-list {
        background-color: $row-color-light;
    }

    .navigation-list--children {
        background-color: $row-color-light;
    }


    .navigation-item .item-name,
    .navigation-list--children {
        color: transparentize($row-color-dark, 0.4);

        &.selected,
        &:hover,
        &:focus {
            color: $row-color-dark;
        }
    }

    .navigation-list--children {
        color: transparentize($row-color-dark, 0.4);

        &.selected .item-name,
        &:hover .item-name,
        &:focus .item-name {
            color: $row-color-dark;
        }
    }


    .item-name--parent:after {
        border-color: lighten($row-color-dark, 25%);
    }


    .navigation-toggle,
    .navigation-toggle:before,
    .navigation-toggle:after {
        background-color: transparentize($row-color-dark, 0.4);
    }


    .phone-number-link {
        color: transparentize($row-color-dark, 0.4);

        @media #{$mobile} {
            background-color: $row-color-accent;
            color: $row-color-light;
        }
    }
}
